/* Elements for level 2 headers */
h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: black;
}

/* Elements for paragraphs*/
p {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  font-size: 18px;
  color: black;
<<<<<<< HEAD
  background-color: #e6e6e6;
  margin: 35px;
=======
>>>>>>> 08781d521f837d10f904224453d1c7b6f486626b
}

.hangingindent {
  padding-left: 10px ;
}

/* Elements with a title attribute will be this color */
a[title] {
  color: #00CCFF;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

