/* Elements for level 2 headers */
h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 300px
}

/* Elements for paragraphs*/
p {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 18px;
  color: black;
  margin: 60px;
  text-justify: inter-word;
  font-size: 160px;
  border: 1px powderblue
}

.hangingindent {
  padding-left: 10px ;
}

/* Elements with a title attribute will be this color */
a[title] {
  color: #00CCFF;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
