/* Elements for level 2 headers */
h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: black;
}

/* Elements for paragraphs*/
p {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  font-size: 18px;
  color: black;
}

.hangingindent {
  padding-left: 10px ;
}

/* Elements with a title attribute will be this color */
a[title] {
  color: #00CCFF;
}


